
.header
{
    background-color:#1F2937 ;
    height: 210px;
    padding: 5px 480px;
    margin-bottom: 18px;
}
.links
{
    display: flex;
    gap: 20px;
}
.top-bar
{
    display: flex;
    justify-content: space-between;
}

.link ,.description
{
    font-size: 15px;
}

.intro
{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.image-holder
{
    width: 350px;
    height: 160px;
    background-color:rgb(168, 168, 168) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo,.statement,.link,.description,.image-text,.link a
{
    font-family: 'Roboto';
    color: #E5E7EB;
}

.link a
{
    text-decoration: none;
}

.statement
{
    font-size: 30px;
    color: #F9FAF8;
    font-weight: 900;
}
.logo
{
    font-size: 18px;
    color: #F9FAF8;
}
.intro-button
{
    width: 100px;
    height: 24px;
    background-color: #3882F6;
    border: 0cm;
    border-radius: 5px;
    color:#E5E7EB;
    font-weight: 900;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.hero
{
    width:360px;
}

.card-container
{
    padding-bottom: 20px;
    height: 320;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card
{
    width: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.figure
{
    /* margin-left: 20px; */
  
    width: 110px;
    height: 69px;
    border: 2px solid #3882F6 ;
    border-radius: 5px;
}
.caption
{
    font-size: 15px;
    color: #1F2937;
}

.info
{
    font-size: 22px;
    color: #1F2937;
    font-weight: 900;
}

.cards
{
    display: flex;
    gap: 50px;
}

.quote-container
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote-holder
{
    width: 700px;
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
}
.quote
{
    font-size: 26px;
    font-style:italic;
    font-weight:lighter;
    font-family: 'Roboto';
    color: #1F2937;
}

.author
{
    align-self: flex-end;
    margin-right: 20px;
    font-weight: 900px;
    font-size: 22px;


}


